<a href="https://colab.research.google.com/github/5-soldo/Python-Data-Science/blob/pds/HW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Тема “Обучение с учителем”##
**Задание 1**
Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.
Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.
Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [207]:
import warnings

warnings.filterwarnings('ignore')

In [208]:
import numpy as np
import pandas as pd

In [209]:
from sklearn.datasets import load_boston

In [210]:
boston = load_boston()

In [211]:
data = boston['data']

In [212]:
target = boston['target']

In [213]:
feature_names = boston['feature_names']
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [214]:
X = pd.DataFrame(data, columns=feature_names)
X.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [215]:
y = pd.DataFrame(target, columns=['Price'])
y.head()

   Price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [216]:
from sklearn.model_selection import train_test_split

In [217]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [218]:
from sklearn.linear_model import LinearRegression

In [219]:
lr = LinearRegression()

In [221]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = lr.predict(X_test)
y_pred

In [ ]:
check_test = pd.DataFrame({"y_pred": y_pred.flatten(), "y_test": y_test['Price']})
check_test

In [224]:
from sklearn.metrics import r2_score

In [225]:
r2_score(y_test, y_pred)

0.7112260057484974

In [226]:
from sklearn.metrics import mean_squared_error

mean_squared_error_lr = mean_squared_error(check_test["y_pred"], check_test["y_test"])
mean_squared_error_lr

21.5174442311769

**Задание 2**
Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.
Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.
Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [227]:
from sklearn.ensemble import RandomForestRegressor

In [228]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)
model

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=12, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [229]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=12, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [ ]:
model_pred_y = model.predict(X_test)
model_pred_y

In [231]:
r2_score(y_test, model_pred_y)

0.8749965273218174

In [232]:
check_test_model = pd.DataFrame({"y_pred": y_pred.flatten(), "y_test": y_test['Price'], "model_pred_y": model_pred_y})
check_test_model

        y_pred  y_test  model_pred_y
173  28.648960    23.6     22.846138
274  36.495014    32.4     31.156114
491  15.411193    13.6     16.297226
72   25.403213    22.8     23.821036
452  18.855280    16.1     17.212148
..         ...     ...           ...
441  17.403672    17.1     13.487707
23   13.385941    14.5     15.132395
225  39.983425    50.0     42.910700
433  16.682863    14.3     15.634989
447  18.285618    12.6     16.096549

[152 rows x 3 columns]

In [233]:
mean_squared_error_model = mean_squared_error(check_test_model["model_pred_y"], check_test["y_test"])
mean_squared_error_model

9.31439570598467

In [234]:
mean_squared_error_model, mean_squared_error_lr

(9.31439570598467, 21.5174442311769)

модель с помощью RandomForestRegressor работает лучше, прогноз чаще ближе к реальным данным

***Задание 3**
Вызовите документацию для класса RandomForestRegressor,
найдите информацию об атрибуте feature_importances_.
С помощью этого атрибута найдите сумму всех показателей важности,
установите, какие два признака показывают наибольшую важность.

In [ ]:
help(RandomForestRegressor)

In [244]:
model.feature_importances_

array([0.03211748, 0.00154999, 0.0070941 , 0.0011488 , 0.01436832,
       0.40270459, 0.01424477, 0.06403265, 0.00496762, 0.01169177,
       0.01808961, 0.0123114 , 0.41567892])

In [247]:
feature_importance = pd.DataFrame({'name':X.columns, 
                                   'feature_importance':model.feature_importances_})
feature_importance

       name  feature_importance
0      CRIM            0.032117
1        ZN            0.001550
2     INDUS            0.007094
3      CHAS            0.001149
4       NOX            0.014368
5        RM            0.402705
6       AGE            0.014245
7       DIS            0.064033
8       RAD            0.004968
9       TAX            0.011692
10  PTRATIO            0.018090
11        B            0.012311
12    LSTAT            0.415679

In [254]:

feature_importance.nlargest(12, 'feature_importance')

       name  feature_importance
12    LSTAT            0.415679
5        RM            0.402705
7       DIS            0.064033
0      CRIM            0.032117
10  PTRATIO            0.018090
4       NOX            0.014368
6       AGE            0.014245
11        B            0.012311
9       TAX            0.011692
2     INDUS            0.007094
8       RAD            0.004968
1        ZN            0.001550